
.dashboard-page{
    padding: 30px 100px;
    background: #222;
    color: white;
    background: url("../assets/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 200px;
}

.dashboard-page .container{
    padding: 30px 100px;
}

.dashboard-page .analytics{
    margin-bottom: 20px;
}

.dashboard-page .box{
    text-align: center;
}

.dashboard-page .analytics .box{
    background: rgba(92, 92, 92, 0.137);
    border-radius: 20px;
    margin: 10px 10px;
    height: auto;
    padding: 20px 40px;
    box-shadow: 8px 9px 15px -3px #181818;
}

.dashboard-page .reports .box{
    background: rgb(235, 235, 235);
    border-radius: 20px;
    margin: 20px;
    width: 20%;
    height: auto;
    padding: 20px;
    cursor: pointer;
    box-shadow: 8px 9px 15px -3px #0c0c0c;
}

.dashboard-page .box h2{
    font-size: 20px;
    color: rgb(231, 231, 231);
}

.dashboard-page .reports .box span{
    font-size: 20px;
}

.dashboard-page .analytics .box span{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
}

.dashboard-page .reload-btn{
    float: right;
}

.dashboard-page .reports .report-box{
    background: url("../assets/excel-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    opacity: 0.9;
    text-align: left;
}

/* .dashboard-page .reports .report-box span{
    background: rgba(0, 0, 0, 0.301);
} */


/* .dashboard-page .reports .report-box:hover{
    background: rgb(32, 32, 32);
    color: white;
} */