.login-page{
    background: rgb(238, 238, 238);
    height: 100%;
    padding: 40px 100px;
  }
  
  .login-page .back-btn{
    cursor: pointer;
    margin-bottom: 40px;
    width: 200px;
    font-size: 20px;
    border: none;
  }

  .login-page .container {
      width: 400px;
  }

  .login-page .span{
      font-size: 16px;
  }

  .register-page{
    background: rgb(238, 238, 238);
    height: 100%;
    padding: 40px 100px;
  }
  
  .register-page .back-btn{
    cursor: pointer;
    margin-bottom: 40px;
    width: 200px;
    font-size: 20px;
    border: none;
  }

  .register-page .container {
      width: 400px;
  }

  .register-page .span{
      font-size: 16px;
  }
  