
.products-page{
  padding: 30px 100px;
}

.products-page .container{
  padding: 30px 100px;
}

.products-page .products{
  margin-bottom: 20px;
}

.products-page .box{
  text-align: center;
}

.products-page .products .box span{
  font-size: 20px;
}

.products-page .analytics .box span{
  font-size: 40px;
  font-weight: bold;
}

.products-page .products .product-list{
  background: rgb(255, 255, 255);
}

.products-page .product-search{
  width: 100%;
}

.products-page .product-img{
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: auto;
}
  
.products-page .box-text{
  padding: 10px;
}
  
.products-page .products .box{
  background: rgb(255, 255, 255);
  border-radius: 0px;
  margin: 10px;
  padding: 10px;
  width: 200px !important;
  height: auto;
  cursor: pointer;
}
