
.products-page{
  padding: 30px 100px;
  background: url("../assets/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.product-preview{
  padding: 30px 100px;
  background: url("../assets/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.products-page .container{
  padding: 30px 100px;
  margin-bottom: 200px;
}

.products-page .products{
  margin-bottom: 20px;
}

.products-page .box{
  text-align: center;
}

.products-page .products .box span{
  font-size: 20px;
}

.products-page .analytics .box span{
  font-size: 40px;
  font-weight: bold;
}

.products-page .products .product-list{
  margin: 0 auto;
  margin-left: 40px;
}

.products-page .product-search{
  width: 100%;
}

.products-page .product-img{
  margin-top: 10px;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 10px;
}
  
.products-page .box-text{
  padding: 10px 2px;
  min-height: 140px;
  max-height: 140px;
  overflow: hidden;
}

.products-page .box-text p{
  color: #888;
}

.products-page .products .box{
  background: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  margin: 16px;
  padding: 10px 0px 10px;
  cursor: pointer;
}

.products-page .note{
  font-size: 14px;
  color: rgba(199, 199, 199, 0.562);
}

.products-page .products .box .actions button{
  padding: 4px;
  margin: 2px;
}

.products-page .label-small{
  font-size: 12px;
}

.products-page label{
  color: white;
}

.products-page input{
  color: white;
  background: rgba(0, 0, 0, 0.200);
  border: none;
}

.products-page input::placeholder{
  color: rgba(255, 255, 255, 0.801);
  border: none;
}

.products-page input:focus{
  color: white;
  background: rgba(0, 0, 0, 0.200);
  border: none;
}

.products-page select{
  color: white;
  background: rgba(0, 0, 0, 0.200);
  border: none;
}

.products-page select:focus{
  color: white;
  background: rgba(0, 0, 0, 0.200);
  border: none;
}

.products-page textarea{
  color: white;
  background: rgba(0, 0, 0, 0.200);
  border: none;
}

.products-page textarea:focus{
  color: white;
  background: rgba(0, 0, 0, 0.200);
  border: none;
}

.products-page .search-buttons{
  text-align: left;
}

.products-page .edit-btn:focus{
  outline: 0 !important;
  box-shadow: none !important;
}


/* PRODUCT PREVIEW PAGE STYLING*/

.product-preview .container{
  padding: 30px 100px;
  margin-bottom: 200px;
}

.product-preview .product-img{
  margin-top: 10px;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  border-radius: 10px;
}

.product-preview .product-img-preview{
  min-width: 320px;
  max-width: 320px;
  min-height: 320px;
  max-height: 320px;
  margin: 0px 20px;
  border-radius: 10px;
}

.product-preview .image-list {
  max-width: 360px;
  height: auto;
  margin: 0px;
  padding: 0px 10px;
}

.product-preview .back-btn{
  background: none;
  cursor: pointer;
  margin: 20px 0px 0px;
  width: 200px;
  font-size: 20px;
  border: none;
}

.product-preview .info-section{
  /* background: red; */
  width: 100%;
  margin-left: -100px;
}